<a href="https://colab.research.google.com/github/Git-Hub-Ran/Python/blob/main/Del1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


url = "https://gist.githubusercontent.com/denandreychuk/b9aa812f10e4b60368cff69c6384a210/raw/100%20Sales%20Records.csv"

df =pd.read_csv(url)

#filter sales data only of Mexico:
filtered_data=df.loc[(df.Country=='Mexico')]
print(filtered_data)
#summerizing total units that were sold in Mexico:
Total_sold=sum(filtered_data.loc[:,'Units Sold'])
print("\n\n","total units that were sold in Mexico",Total_sold )

           Region Country      Item Type Sales Channel Order Priority  \
75  North America  Mexico      Household       Offline              C
85  North America  Mexico  Personal Care       Offline              L
98  North America  Mexico  Personal Care       Offline              M

   Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
75  11/6/2014  986435210  12/12/2014        6954      668.27     502.54
85  2/17/2012  430915820   3/20/2012        6422       81.73      56.67
98  7/30/2015  559427106    8/8/2015        5767       81.73      56.67

    Total Revenue  Total Cost  Total Profit
75     4647149.58  3494663.16    1152486.42
85      524870.06   363934.74     160935.32
98      471336.91   326815.89     144521.02


 total units that were sold in Mexico 19143

In [ ]:
df.loc[:,'Units Sold'].describe()

count     100.000000
mean     5128.710000
std      2794.484562
min       124.000000
25%      2836.250000
50%      5382.500000
75%      7369.000000
max      9925.000000
Name: Units Sold, dtype: float64